canvas {
    border-style: solid;
    border-width: 6px;
    border-color: lightblue;
    background-image: url("bild.jpg");
    background-size: 1250px 500px;

    border-radius: 30px;
}

body {
    background-color: lightgrey;
}